[submodule "scr1"]
	path = scr1
	url = git@github.com:zuki/scr1.git
[submodule "fpga"]
	path = fpga
	url = git@github.com:zuki/fpga-sdk-prj.git
[submodule "sw/sc-bl"]
	path = sw/sc-bl
	url = git@github.com:zuki/sc-bl.git
[submodule "sw/zephyr"]
	path = sw/zephyr
	url = https://github.com/syntacore/zephyr
	branch = scr1
